:root {
    --post-switch: #afc4c4;

    --base-back: #f2eef5;
    --base-text: Black;
    --menu-back: #e5e0e8;
    --menu-back-alt: #d0cad2;
    --menu-text: #180030;
    --nav-back: #d0cad5;
    --nav-text: #120024;
    --dialog-back: #bdbfff;
    --dialog-back-alt: #e3e2f2;
    --dialog-text: Black;
    --dialog-text-alt: #120024;
    --dialog-border: #8d87ff;
    --filter-back: #d6d3ff;
    --filter-back-alt: #f6efff;
    --filter-text: Black;
    --filter-border: #6a5fff;
    --filter-border-alt: #958dff;

    --input-back: White;
    --input-text: Black;
    --input-placeholder: Grey;

    --radio-back: #000067;
    --radio-border: #efefef;
    --radio-outline: #003737;

    --song-display: #ffffe0;
    --song-display-alt: #ffdab9;
    --song-text: Black;
    --song-border: #b2a58f;
    --song-selected: #8b008b;

    --s-krr-back: #f08080;
    --s-krr-text: #670000;
    --s-momo-back: #ffb6c1;
    --s-momo-text: #8b008b;
    --s-nia-back: #afeeee;
    --s-nia-text: #00008b;

    --s-mmkr-back: #d98eed;
    --s-mmkr-text: Indigo;
    --s-krna-back: #991d1d;
    --s-krna-text: #add8e6;
    --s-mmna-back: #add8e6;
    --s-mmna-text: #8b008b;
    --s-ptcc-back: #6e24b7;
    --s-ptcc-text: #e0e7ff;

    --s-chui-back: #ffd3ca;
    --s-chui-text: #7a36a6;
    --s-siro-back: #fff0ab;
    --s-siro-text: #cc2455;
    --s-yuco-back: #ffcffb;
    --s-yuco-text: #265ebd;

    --s-ycmm-back: #c1ceff;
    --s-ycmm-text: #a10091;
    --s-yckr-back: #ffcffb;
    --s-yckr-text: #af1919;

    --s-krr-frame: #ac424a;
    --s-momo-frame: #fdccd3;
    --s-nia-frame: #c2caf3;
    --s-chui-frame: #aa80c6;
    --s-siro-frame: #f88b87;
    --s-yuco-frame: #9e7ce9;

    --white-icon: invert(100%);
	--mixed-icon: invert(100%);

    --trnsp: #0000;
    --empty-cell: #bbb;

	--spr-check: var(--cbx-check);
	--spr-cross: var(--cbx-cross);
	--spr-minus: var(--cbx-minus);
	--spr-switch: var(--cbx-switch);
	--spr-empty: var(--cbx-empty);
}

[theme=dark],
[theme=extra] {
    --post-switch: #0d0020;

    --base-back: #171a1d;
    --base-text: #d2ccde;
    --menu-back: #272629;
    --menu-back-alt: #3a363f;
    --menu-text: #f8f8ff;
    --nav-back: #303030;
    --nav-text: #dfdfff;
    --dialog-back: #2c2556;
    --dialog-back-alt: #403871;
    --dialog-text: #f0f8ff;
    --dialog-text-alt: #d2ccde;
    --dialog-border: #6a5f8c;
    --filter-back: #140029;
    --filter-back-alt: #302246;
    --filter-text: #c8c3ca;
    --filter-border: #cdb4dd;
    --filter-border-alt: #331a58;

    --input-back: #545454;
    --input-text: White;
    --input-placeholder: #a2a2a2;

    --radio-back: #c8c3ca;
    --radio-border: #211928;
    --radio-outline: #a0c3c3;

    --song-display: #050a29;
    --song-display-alt: #160633;
    --song-text: #e6e6f2;
    --song-border: #b1a1b8;
    --song-selected: #00a16b;

    --s-krr-back: #240000;
    --s-krr-text: #f08080;
    --s-momo-back: #220022;
    --s-momo-text: #ffb6c1;
    --s-nia-back: #000029;
    --s-nia-text: #afeeee;

    --s-mmkr-back: #1c002f;
    --s-mmkr-text: #d98eed;
    --s-mmna-back: #220022;
    --s-mmna-text: #add8e6;
    --s-krna-back: #2b0707;
    --s-krna-text: #add8e6;
    --s-ptcc-back: #290e45;
    --s-ptcc-text: #e0e7ff;

    --s-chui-back: #2b143b;
    --s-chui-text: #ffd3ca;
    --s-siro-back: #340815;
    --s-siro-text: #fff0ab;
    --s-yuco-back: #0b1b35;
    --s-yuco-text: #ffcffb;

    --s-ycmm-back: #280024;
    --s-ycmm-text: #c1ceff;
    --s-yckr-back: #300000;
    --s-yckr-text: #ffcffb;

    --s-krr-frame: #6f181f;
    --s-momo-frame: #752e38;
    --s-nia-frame: #374278;
    --s-chui-frame: #522b6c;
    --s-siro-frame: #992b27;
    --s-yuco-frame: #4a2c8d;

    --white-icon: invert(0%);
	--mixed-icon: invert(0%);

    --empty-cell: #555;
}

[theme=mixed] {
    --post-switch: #2f4f4f;

    --base-back: #778899;
    --menu-back: #696969;
    --menu-back-alt: Grey;
    --menu-text: #f8f8ff;
    --nav-back: #303030;
    --nav-text: #dfdfff;
    --dialog-back: #483d8a;
    --dialog-back-alt: #685f9d;
    --dialog-text: #f0f8ff;
    --dialog-text-alt: #efedfd;
    --dialog-border: #9186d8;
    --filter-back: #98fb98;
    --filter-back-alt: #dfdfdf;
    --filter-text: Black;
    --filter-border: #0000;
    --filter-border-alt: #3cb371;
	
    --white-icon: invert(0%);

    --empty-cell: #888;
}

[theme=extra] {
    --menu-back: #272629;
    --menu-back-alt: #3a363f;
    --menu-text: #f8f8ff;
    --nav-back: #171717;
    --dialog-back: #120b35;
    --dialog-back-alt: #080016;
    --dialog-text: #b8adce;
    --dialog-border: #3e3166;
    --filter-back: #0f001f;
    --filter-back-alt: #25153f;
    --filter-border: #9b81ac;
    --filter-border-alt: #331a58;

    --song-display: #020621;
    --song-display-alt: #0f0326;
    --song-selected: #008c5e;

    --s-krr-back: #170000;
    --s-momo-back: #1a001a;
    --s-nia-back: #000018;

    --s-mmkr-back: #10001b;
    --s-mmna-back: #170017;
    --s-krna-back: #1a0202;
    --s-ptcc-back: #10031d;

    --s-chui-back: #150420;
    --s-siro-back: #1e020b;
    --s-yuco-back: #030e21;

    --s-ycmm-back: #190016;
    --s-yckr-back: #1d0000;
	
    --empty-cell: #222;
}

html, body {
	padding: 0;
	margin: 0;
	touch-action: pan-y;
	box-shadow: none;
	height: 100%;
}

body:not(.post_switch) {
	height: auto;
}

body:not(.allow_reload) {
	overscroll-behavior-y: contain;
}

html {
	background-color: var(--base-back);
	color: var(--base-text);
	font-family: 'M PLUS 1p', sans-serif;
}

body:not(input[type=text]) {
	-webkit-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body.no_scroll {
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

input[type=text] {
	background-color: var(--input-back);
	color: var(--input-text);
	border: none;
	outline: 0.2vw solid var(--base-text);
}

input[type=text]:focus {
	outline: 0.5vw solid var(--base-text);
}

input[type=text]::placeholder {
	color: var(--input-placeholder);
	opacity: 1;
}

.blank {
	opacity: 0 !important;
}

.red_text {
	color: Red !important;
}

#v_screen:not(.post_switch),
.post_switch:not(#v_screen):not(body) {
	display: none;
}

body.post_switch {
	display: flex;
	justify-content: center;
	background-color: var(--post-switch);
}

#navbar {
	display: grid;
	background-color: var(--nav-back);
	position: fixed;
	top: 0;
	width: 100%;
	height: 10vw;
	z-index: 2;
}

#nav_menu_group {
	grid-column: 1;
	width: 20vw;
}

#nav_menu {
	margin: 1vw 2vw;
	width: 8vw;
	height: 8vw;
	filter: var(--white-icon);
	content: var(--ico-menu);
}

#nav_menu.menu_opened {
	content: var(--ico-cross);
}

#nav_title {
	grid-column: 2;
	width: 60vw;
	color: var(--nav-text);
	text-align: center;
	font-size: 7vw;
}

#nav_control_group {
	display: grid;
	grid-column: 3;
	text-align: right;
}

#nav_control_group div {
	width: 8vw;
	height: 8vw;
	margin: 1vw;
}

#nav_control_group div.disabled {
	opacity: 0.4;
}

#nav_search_random {
	grid-column: 1;
	content: var(--ico-random);
	filter: var(--white-icon);
}

#nav_share {
	grid-column: 1;
	content: var(--ico-share);
	filter: var(--white-icon);
}

#nav_to_top {
	grid-column: 2;
	content: var(--ico-totop);
	filter: var(--white-icon);
}

/* overall section ~end~ */

/* singer colour section */
.icon_kirara_bg {
	background-color: var(--s-krr-text);
}

.icon_momo_bg {
	background-color: var(--s-momo-text);
}

.icon_nia_bg {
	background-color: var(--s-nia-text);
}

.icon_chui_bg {
	background-color: var(--s-chui-text);
}

.icon_shiro_bg {
	background-color: var(--s-siro-text);
}

.icon_yuco_bg {
	background-color: var(--s-yuco-text);
}

.icon_kirara_frame {
	background-color: var(--s-krr-frame);
}

.icon_momo_frame {
	background-color: var(--s-momo-frame);
}

.icon_nia_frame {
	background-color: var(--s-nia-frame);
}

.icon_chui_frame {
	background-color: var(--s-chui-frame);
}

.icon_shiro_frame {
	background-color: var(--s-siro-frame);
}

.icon_yuco_frame {
	background-color: var(--s-yuco-frame);
}

.icon_kirara {
	content: url(../icon/kirara.webp);
}

.icon_momo {
	content: url(../icon/momo.webp);
}

.icon_nia {
	content: url(../icon/nia.webp);
}

.icon_chui {
	content: url("https://yt3.googleusercontent.com/6PfaTf2LlcGbF_5eDkRpGSiKt0KzxmncjgG03mtee_mmd3SRJ_zWpXDZc1hdA7wyj8BxM8nx");
}

.icon_shiro {
	content: url("https://yt3.googleusercontent.com/6hHb4vAT1O7jdA_JSXCg1iZvoFdTTYajo9iOtDXN4X5DvFl1AXdC0oEzPTqiWsnqVr8DRzFr2Q");
}

.icon_yuco {
	content: url("https://yt3.googleusercontent.com/qHxznIg7FCE5MxQJoSdIx5uw4RR8LNNLguGyzUXujTPczC1rHQE_1B_S32YBK4C_9st5vXpq");
}
/* singer colour section end*/

/* menu section */
#menu_container {
	position: fixed;
	left: 0;
	top: 10vw;
	height: calc(100% - 10vw);
	width: 100%;
	background: rgba(30, 30, 30, 0.5);
	z-index: 3;
}

#menu_panel {
	height: 100%;
	width: 75vw;
	background-color: var(--menu-back);
	font-size: 5vw;
	color: var(--menu-text);
}

#menu2page_title {
	position: relative;
	top: 2vw;
	left: 2vw;
}

#menu2page_container {
	position: relative;
	top: 2vw;
}

.menu2page {
	margin: 1vw 4vw;
	padding: 1vw 2vw;
}

.menu2page.menu2page_selected {
	background-color: var(--menu-back-alt);
}

#menu_line {
	position: relative;
	top: 1vw;
	margin: 3vw;
	border-top: 1vw solid var(--menu-text);
}

#menu_bottom {
	position: absolute;
	bottom: 4vw;
	height: 40vw;
	width: 75vw;
}

#menu_bottom.pwa_installable {
	height: 52vw;
}

#menu_bottom>div:not(#menu_line):not(.disabled) {
	display: flex;
	margin: 2vw;
	align-items: center;
}

#menu_bottom span {
	position: relative;
	margin: 1vw;
	width: 8vw;
	height: 8vw;
	filter: var(--white-icon);
}

#menu_install.disabled {
	display: none;
}

#menu_install_icon {
	content: var(--ico-install);
}

#menu_setting_icon {
	content: var(--ico-gear);
}

#menu_count_icon {
	content: var(--ico-sigma);
}

#menu_info_icon {
	content: var(--ico-info);
}

#popup_container {
	position: fixed;
	left: 0;
	top: 10vw;
	height: calc(100% - 10vw);
	width: 100%;
	background-color: #2228;
	z-index: 3;
}

/* info section */
#information {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70vw;
	height: 48vh;
	font-size: 4vw;
	background-color: var(--dialog-back);
	color: var(--dialog-text);
	text-align: center;
	border: 0.5vw solid var(--dialog-border);
	border-radius: 5.6vw;
}

#information>div {
	position: absolute;
	bottom: 3vh;
	width: 100%;
	left: 50%;
	transform: translate(-50%, 0);
}

#info_feedback {
	margin-top: 2vh;
}

#info_github {
	margin-top: 2.5vh;
}

/* mem count section */
#memcount h3,
#memcount_rep h3{
	font-size: 6vw;
	margin-block: 0.4em;
}

#memcount,
#memcount_rep {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85vw;
	background-color: var(--dialog-back);
	color: var(--dialog-text);
	text-align: center;
	border: 0.5vw solid var(--dialog-border);
	border-radius: 5.6vw;
}

#memcount.anti_extra,
#memcount_rep.anti_extra {
	height: calc(12vh + 80vw);
}

#memcount:not(.anti_extra),
#memcount_rep:not(.anti_extra) {
	height: calc(12vh + 105vw);
}

#memcount_table {
	margin: 0 auto;
	background-color: var(--dialog-back-alt);
	padding: 1.2vw 0.8vw;
	border-radius: 2vw;
	font-weight: bold;
	font-size: 4vw;
	border-spacing: 0.8vw;
}

#memcount_table th {
	min-width: 13.6vw;
	color: var(--dialog-text-alt);
}

.memcount_row>td {
	border-radius: 1.2vw;
	padding: 0.4vw 2vw;
}

.memcount_row>td:not(.memcount_name) {
	width: 14.4vw;
}

.memcount_empty {
	background-color: var(--empty-cell) !important;
	color: var(--trnsp) !important;
	background-image: linear-gradient(to bottom right, transparent calc(50% - 2px), var(--dialog-back-alt), transparent calc(50% + 2px)); 
}

.memcount_name>div {
	padding: 0.4vw 1.2vw 0.4vw 4vw;
	text-align: right;
}

.memcount_sum {
	display: grid;
	grid-template-columns: 8.75% 27.5% 27.5% 27.5% 8.75%;
	margin: 4.8vw 10vw auto;
	height: 6vw;
}

.memcount_sum div {
	margin: 1vw;
	border-radius: 3.6vw;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	font-weight: bold;
	font-size: 4vw;
}

.memcount_sum_icon {
	content: var(--ico-sigma);
	width: 6vw;
	height: 6vw;
	filter: var(--white-icon);
}

#memcount_sum_warpper div:not(.colspan-2) {
	transform: translate(0, -3.8vw);
}

#memcount_rep_content.extra_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#memcount_rep_content:not(.extra_content) {
	position: absolute;
	left: 30%;
	top: 15%;
	width: 40%;
}

#memcount_rep_content:not(.extra_content) .memcount_rep_block {
	width: 90%;
	block-size: fit-content;
	margin: auto;
	font-size: 3.8vw;
	font-weight: 550;
	padding: 2.5vh 0;
}

#memcount_rep_content.extra_content .memcount_rep_block {
	width: 90%;
	block-size: fit-content;
	margin: auto;
	font-size: 3.8vw;
	font-weight: 550;
	padding: 5.6vh 0;
}

.memcount_rep_block>div {
	padding: 1vw;
}

.memcount_rep_block>div:first-child {
	border-radius: 1.8vw 1.8vw 0 0;
}

.memcount_rep_block>div:last-child {
	border-radius: 0 0 1.8vw 1.8vw;
}

.memcount_rep_block_sum>div {
	padding: 1vw;
	border-radius: 1.8vw;
}

.memcount_rep_sum {
	content: var(--ico-sigma);
	width: 6vw;
	height: 6vw;
	block-size: fit-content;
	margin: auto;
	padding: 2vw 0 0;
}

.memcount_rep_block_sum {
	font-size: 4.2vw;
	font-weight: 600;
	padding: 5%;
	border-radius: 1.8vw;
	margin: 5%;
	width: 90%;
}

.memcount_rep_singer_4 {
	background: linear-gradient(158deg, var(--s-krr-back) 0 30%, var(--s-chui-back) 70% 100%);
}

.memcount_rep_singer_4>div {
	background: linear-gradient(158deg, var(--s-krr-text) 0 30%, var(--s-chui-text) 70% 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.memcount_rep_singer_2 {
	background: linear-gradient(158deg, var(--s-momo-back) 0 30%, var(--s-siro-back) 70% 100%);
}

.memcount_rep_singer_2>div {
	background: linear-gradient(158deg, var(--s-momo-text) 0 30%, var(--s-siro-text) 70% 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.memcount_rep_singer_1 {
	background: linear-gradient(158deg, var(--s-nia-back) 0 30%, var(--s-yuco-back) 70% 100%);
}

.memcount_rep_singer_1>div {
	background: linear-gradient(158deg, var(--s-nia-text) 0 30%, var(--s-yuco-text) 70% 100%);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}


#settings {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 86vw;
	height: 72vh;
	background-color: var(--dialog-back);
	text-align: center;
	border: 0.5vw solid var(--dialog-border);
	border-radius: 5.6vw;
	font-size: 3.6vw;
}

#settings_inner {
	height: calc(100% - 4.8vw);
	margin: 2.6vw;
	padding: 2vw;
	background-color: var(--dialog-back-alt);
	border-radius: 3vw;
	color: var(--dialog-text);

	overflow-y: scroll;
}

.settings_title {
	margin-top: 2vw;
	font-size: 5.2vw;
	font-weight: 600;
}

.settings_inner_title {
	font-size: 4.4vw;
	font-weight: 500;
	margin: 5vw 0 2vw;
}

.settings_option {
	height: 7.2vw;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 2vw 0;
}

.settings_option>div:first-child {
	margin-right: 4.8vw;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.settings_option>div:last-child {
	margin-left: 4.8vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-radius: 2.2vw;
}

#three_way_theme,
#three_way_time {
	display: grid;
	grid-template-columns: 33.33% 33.33% 33.33%;
	margin-right: auto;
	padding: 0.6vw;
}

#three_way_theme {
	background-color: var(--base-back);
}

#three_way_time {
	background-color: var(--dialog-back);
}

#three_way_theme>div,
#three_way_time>div {
	width: 8vw;
	height: 4.8vw;
	font-size: 3.2vw;
	text-align: center;
	background-color: var(--dialog-back-alt);
	margin: 0.4vw 0.6vw;
	border-radius: 1.2vw;
	font-weight: 600;
}

#three_way_theme>.selected,
#three_way_time>.selected {
	outline: 0.6vw solid var(--dialog-border);
}

#three_way_theme>:not(.selected),
#three_way_time>:not(.selected) {
	filter: opacity(0.25);
}

#three_way_light {
	background-color: rgb(242, 238, 245) !important;
	color: Black !important;
}

#three_way_mixed {
	background-color: #778899 !important;
	color: Black !important;
}

#three_way_dark {
	background-color: rgb(23, 26, 29) !important;
	color: rgb(210, 204, 222) !important;
}

.two_way {
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: var(--dialog-back);
	padding: 0.8vw 0.6vw;
	width: 28.8vw;
}

.two_way>div {
	width: 100%;
	border-radius: 1.2vw;
	margin: 0.4vw;
}

.two_way>div.selected {
	outline: 0.6vw solid var(--dialog-border);
	background-color: var(--dialog-back-alt);
}

.two_way>div:not(.selected),
.settings_option>.disabled {
	filter: opacity(0.25);
}

#setting_extra_container>div:first-child,
.settings_extra>div:first-child {
	text-decoration: underline;
	text-underline-offset: 0.6vw;
}

#settings_reset_confirm {
	margin: 7vw auto 2vw;
	padding: 2vw;
}

.settings_reset {
	margin: 0 auto 5vw;
}

.settings_reset>span {
	margin: 0 5vw;
	border-radius: 2.4vw;
	font-weight: 700;
	padding: 1.2vw 2.4vw;
}
#settings_reset_nah {
	border: green 0.6vw solid;
}

#settings_reset_yes,
#settings_reset_button {
	border: crimson 0.6vw solid;
}

#copy_popup {
	position: fixed;
	padding: 2vw 4vw;
	left: 50%;
	bottom: 12vh;
	transform: translate(-50%, 0);
	background-color: #000B;
	font-size: 4vw;
	color: White;
	border-radius: 2vw;
	text-align: center;
	font-weight: bold;
	z-index: 3;
}

#copy_popup.fade_out {
	animation: fadeout 1.5s;
	animation-fill-mode: both;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	
	67% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}


.twitter, .youtube, .deleted, .google_sheets, .google_forms, .github {
	color: White;
	border: none;
	border-radius: 2vw;
	padding: 0.5vw 2vw;
	font-size: 3.6vw;
	font-weight: bold;
}

.twitter {
	background-color: #1DA1F2;
}

.youtube {
	background-color: #FF0000;
}

.deleted {
	background-color: #666666;
}

.google_sheets {
	background-color: #00AC47;
}

.google_forms {
	background-color: #7248B9;
	border: 0.6vw solid var(--dialog-border);
}

.github {
	background-color: Black;
	border: 0.6vw solid var(--dialog-border);
}

.ext_link,
.schedule {
	position: relative;
	width: 6vw;
	height: 5vw;
	padding: 0.1vw 0.6vw;
	filter: var(--mixed-icon);
}
.ext_link {
	margin: auto 2vw;
	content: var(--ico-link);
}

.schedule {
	margin: auto 0;
	content: var(--ico-sched);
}



.general_vertical_space {
	height: 2vw;
}