#search_section {
	margin-top: 10vw;
}

#search_input_container {
	display: flex;
}

#search_input {
	width: 86vw;
	margin: 2vw 2vw .5vw;
	padding: 5vw 2vw;
	height: 10vw;
	font-size: 5vw;
	border-radius: 2vw;
}

#ser_opt_button {
	content: var(--ico-arrow);
	width: 8vw;
	height: 8vw;
	margin-top: 3vw;
	transform: rotate(180deg);
	filter: var(--white-icon);
}

#ser_opt_button.opened {
	transform: none;
}

#ser_opt_container {
	width: 96vw;
	margin: 1.5vw auto 0;
	padding: 1vw 2vw;
	background-color: var(--filter-back);
	border-radius: 4vw;
	border: 0.5vw solid var(--filter-border);
	color: var(--filter-text);
	font-size: 3.2vw;
}

#ser_opt_container label {
	padding-left: 2vw;
}

.ser_opt_title {
	font-size: 5vw;
	font-weight: bold;
	padding: 1vw 0 0 2.4vw;
	border-bottom: 0.5vw solid var(--filter-text);
	margin-bottom: 1vw;
	width: 97.5%;
}

.ser_opt_block {
	display: grid;
	margin-bottom: 1vw;
}

.search_grid_2 {
	grid-template-columns: 50% 50%;
}

.search_grid_3 {
	grid-template-columns: 22.5% 27.5% 50%;
}

.ser_opt_block>label {
	display: grid;
	grid-template-columns: 6vw auto;
}

.ser_opt_block div:not([class]) {
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-left: 0.4vw;
	height: 6vw;
}

/* singer section */
.search_icon_container {
	display: flex;
}

.search_icon_container div {
	border-radius: 4vw;
	width: 14.6vw;
	height: 14.6vw;
	margin: 0 0.28vw;
}

.singer_icon {
	border-radius: 3.4vw;
	width: 13.4vw;
	height: 13.4vw;
	margin: 0.6vw;
}

.singer_icon:not(.selected) {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.666;
}

/* song title section */
.song_name_container {
	padding: 0 1vw;
	margin: 1.5vw 1.5vw;
	text-align: center;
	display: flex;
	border: .2vw solid var(--song-border);
	border-radius: 2.4vw;
	position: sticky;
	position: -webkit-sticky;
	top: 10vw;
	color: var(--song-text);

	/* this is here ONLY to counter z-index problem for inverted share button*/
	z-index: 1;
}

.song_container:nth-child(odd)>:nth-child(1) {
	background-color: var(--song-display);
}

.song_container:nth-child(even)>:nth-child(1) {
	background-color: var(--song-display-alt);
}

.song_rap{
	flex-grow: 1;
}

.song_name {
	font-weight: bold;
	font-size: 5.8vw;
}

.song_credit:not(.long_credit) {
	font-size: 3.2vw;
}

.song_credit.long_credit {
	font-size: 2.4vw;
}

.song_icon_container {
	flex-direction: column;
}

.song_fold_icon {
	content: var(--ico-arrow);
	width: 6vw;
	height: 6vw;
	margin: 1.25vw 1vw 0 0;
	filter: var(--mixed-icon);
}

.song_fold_icon:not(.closed) {
	flex-grow: 1;
}

.song_fold_icon.closed {
	transform: rotate(180deg);
}

.song_copy_icon {
	content: var(--ico-copy);
	width: 6vw;
	height: 6vw;
	filter: var(--mixed-icon);
	margin: 0.6vw 0.6vw 1vw 0;
}

/* song entry section */
.entry_container {
	font-weight: bold;
	font-size: 3.6vw;
	padding: 1vw;
	margin: 1.5vw 3.2vw;
	border: .2vw solid color-mix(in srgb, currentColor 72%, Black);
	border-radius: 1.6vw;
}

.entry_primary {
	display: flex;
}

.entry_primary>div {
	display: flex;
	align-items: center;
}

.entry_date {
	flex-grow: 1;
	width: 34vw;
	margin: 0vw 2vw;
}

.entry_singer {
	flex-grow: 1;
	width: 34vw;
}

.mem_display {
	flex-grow: 1;
	width: 14vw;
}

.entry_share {
	width: 6vw;
	height: 6vw;
	background-color: currentColor;

	mask-image: var(--ico-share);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;

	-webkit-mask-image: var(--ico-share);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-size: contain;
}

.entry_note {
	font-size: 2.7vw;
	padding: 0vw 2.5vw;
}


/* singer colour palette section */
/* nia (1) cc: 11.86 */
.singer_1 {
	--text: var(--s-nia-text);
	--back: var(--s-nia-back);
}
/* momo (2) cc: 5.14 */
.singer_2 {
	--back: var(--s-momo-back);
	--text: var(--s-momo-text);
}
/* momonia (3) cc: 5.56 */
.singer_3 {
	--back: var(--s-mmna-back);
	--text: var(--s-mmna-text);
}
/* kirara (4) cc: 5.14 */
.singer_4 {
	--back: var(--s-krr-back);
	--text: var(--s-krr-text);
}
/* kirania (5) cc: 5.39 */
.singer_5 {
	--back: var(--s-krna-back);
	--text: var(--s-krna-text);
}
/* momokira (6) cc: 5.57 */
.singer_6 {
	--back: var(--s-mmkr-back);
	--text: var(--s-mmkr-text);
}
/* petitcoco (7) cc: 6.55 */
.singer_7 {
	--back: var(--s-ptcc-back);
	--text: var(--s-ptcc-text);
}

/* yuco (8) cc: 4.55 */
.singer_8 {
	--back: var(--s-yuco-back);
	--text: var(--s-yuco-text);
}
/*
.singer_10 {
	background-color: var(--s-ycmm-back);
	color: var(--s-ycmm-text);
}

.singer_12 {
	background-color: var(--s-yckr-back);
	color: var(--s-yckr-text);
}
*/
/* shiro (16) cc: 4.63 */
.singer_16 {
	--back: var(--s-siro-back);
	--text: var(--s-siro-text);
}
/* chui (12) cc: 5.31 */
.singer_32 {
	--back: var(--s-chui-back);
	--text: var(--s-chui-text);
}

[class*="singer_"] {
	background-color: var(--back);
	color: var(--text);
}

*:is([theme=light], [theme=mixed]) .mem,
.memcount_rep_name {
	background-color: var(--text);
	color: var(--back);
}

/* search autocomplete section */
#search_auto {
	position: absolute;
	left: 2vw;
	top: 22.25vw;
	border: 1vw solid GhostWhite;
	background-color: var(--filter-back);
	border-radius: 1vw;
	z-index: 3;
}

.auto_panel {
	height: 12vw;
	width: 84vw;
	overflow: hidden;
	white-space: nowrap;
}

.auto_panel:not(.auto_first) {
	border-top: 0.5vw solid GhostWhite;
}

.auto_panel.selected {
	background-color: var(--song-display-alt);
	color: var(--song-selected);
}

/* like i know theres aint no hover on a damn mobile site */
.auto_panel:hover {
	background-color: var(--filter-border-alt);
}

.auto_reading:not(.auto_no_reading) {
	position: relative;
	transform: translateY(36%);
	padding: 0.5vw 1vw;
	margin: 0.4vw;
	font-size: 3.2vw;
	height: 4vw;
}

.auto_reading.auto_no_reading {
	display: none;
}

.auto_display {
	margin: 0.2vw 0.2vw 0.2vw 0.8vw;
	padding: 0.4vw;
	font-size: 4.8vw;
	height: 6vw;
}

.auto_panel:has(.auto_no_reading) .auto_display {
	font-size: 5.2vw;
	margin-top: 4vw;
}

/* no result */
.search_no_result {
	margin: 4vw auto;
	padding: 3vw 6vw;
	width: fit-content;
	background-color: #101B;
	border-radius: 2vw;
	font-size: 6vw;
	font-weight: bold;
	color: #EEF;
	text-align: center;
}