#home_section {
	margin-top : 10vw;
}

.home_title {
	margin-top : 15vw;
	text-align : center;
}

.home_member_block, .home_general_block {
	margin : 2vw 4vw;
	padding : 2vw;
	border-radius : 2vw;
	border : .4vw solid color-mix(in srgb, currentColor 72%, White);
	
	display : grid;
	grid-template-columns: 30% 70%;
}

.home_member_icon_bg {
	margin : 0.5vw 2vw;
	border-radius : 3.6vw;
	width : 22vw;
	height : 22vw;
}

.home_member_icon_bg>div {
	margin : 0.8vw;
	border-radius : 2.8vw;
	width : 20.4vw;
	height : 20.4vw;
}

.home_member_name {
	margin : 2vw auto 4vw 8vw;
	font-size : 6vw;
	font-weight : bold;
}

.home_general_title {
	margin : 0vw auto;
	font-size : 4vw;
	font-weight : bold;
}

.home_member_social {
	padding : 0vw 2vw 2vw 4vw;
}
.home_member_social>a {
	margin : auto 1vw;
}

.home_general_block {
	margin-top : 6vw;
	padding-top : 2.4vw;
	background-color : HoneyDew;
	color : MidnightBlue;
}

.home_general_content {
	text-align : center;
}

#home_key_stat {
	margin : 6vw auto;
	font-size : 4vw;
	color : LimeGreen;
	font-weight : bold;
	text-align : center;
	text-shadow: #000 0px 0px 0.8vw;
	-webkit-font-smoothing: antialiased;
}

#home_key_reset {
	background-color : Red;
	color : White;
	border-radius : 2vw;
	width : 16vw;
	margin : 0 auto;
	padding : 2vw;
	font-size : 3.6vw;
	font-weight : bold;
	text-align : center;
	margin-bottom : 20vw;
}

#remove_key {
	top : 10vw;
	height : 100%;
	background-color : rgba(0, 0, 0, 0.5);
}

#remove_key_defog {
	position : fixed;
	left : 50%;
	top : 50%;
	transform: translate(-50%, -50%);
	width : 80vw;
	height : 30vh;
	background-color : MediumPurple;
	border-radius : 3.2vw;
	color : GhostWhite;
	font-weight : bold;
	text-align : center;
}

#remove_key_text {
	margin : 8vh auto 0 auto;
	font-size : 5.2vw;
}

#remove_key_options {
	position : absolute;
	bottom : 0;
	display : grid;
	grid-template-columns: 50% 50%;
	height : 10vh;
	width : 100%;
	vertical-align : center;
}

#remove_key_options>div {
	display : flex;
	justify-content : center;
	align-items : center;
	border-top : 0.8vw solid #c4b0eb;
	font-size : 4.8vw;
}

#remove_key_nah {
	border-right : 0.4vw solid #c4b0eb;
	background-color : #679b99;
	border-bottom-left-radius : 3.2vw;
}

#remove_key_yes {
	border-left : 0.4vw solid #c4b0eb;
	background-color : #b9498e;
	border-bottom-right-radius : 3.2vw;
}
