#home_section {
	margin-top : 10vw;
	padding-bottom: 1vw;
}

.home_title {
	margin-top : 15vw;
	text-align : center;
	font-size : 6vw;
}

.home_member_block, .home_general_block {
	margin : 2vw 4vw;
	padding : 2vw;
	border-radius : 3.2vw;
	border : .4vw solid color-mix(in srgb, currentColor 72%, var(--base-back));
	
	display : grid;
	grid-template-columns: 30% 70%;
}

.home_member_icon_bg {
	margin : 0.5vw 2vw;
	border-radius : 3.6vw;
	width : 22vw;
	height : 22vw;
}

.home_member_icon_bg>div {
	margin : 0.8vw;
	border-radius : 2.8vw;
	width : 20.4vw;
	height : 20.4vw;
}

.home_member_name {
	margin : 2vw auto 4vw 8vw;
	font-size : 6vw;
	font-weight : bold;
	display: flex;
}

.home_general_title {
	margin : 0vw auto;
	font-size : 4vw;
	font-weight : bold;
}

.home_member_social {
	padding : 0vw 2vw 2vw 4vw;
}
.home_member_social>a {
	margin : auto 1vw;
}

.home_general_block {
	margin-top : 6vw;
	padding-top : 2.4vw;
	background-color : var(--filter-back-alt);
	color : var(--filter-text);
}

.home_general_content {
	display: flex;
	justify-content: center;
	align-items: center;
}

#home_key {
	font-size: 3.6vw;
}

#home_key_comfirm {
	margin: 7vw auto 2vw;
	padding: 2vw;
	text-align: center;
}

.home_key_reset {
	margin: 0 auto 5vw;
	text-align: center;
}

.home_key_reset>span {
	margin: 0 5vw;
	border-radius: 2.4vw;
	font-weight: 700;
	padding: 1.2vw 2.4vw;
}

#home_key_reset_nah {
	border: green 0.6vw solid;
}

#home_key_reset_yes,
#home_key_reset_button {
	border: crimson 0.6vw solid;
}