#repertoire_section {
	margin-top : 10vw;
}

#rep_input {
    width: 92vw;
    padding: 0 1.8vw;
    margin: 1.5vw 2vw 0 2vw;
    height: 10vw;
    font-size: 5vw;
	border-radius : 2vw;
}

#filter_container {
	height : auto;
	width : 92vw;
	margin : 2.4vw 2vw;
	padding : 1.6vw;
	border-radius : 1.6vw;
	background-color : var(--filter-back);
	font-size : 3.2vw;
	color : var(--filter-text);
	font-weight : bold;
	border: 0.36vw solid var(--filter-border);
}

.filter_title {
	display : flex;
}

.filter_title_name {
	padding-left: 1.2vw;
	flex-grow : 1;
	font-size : 4.4vw;
	display: flex;
	align-items: center;
}

.filter_close {
	content : url("icon/list.png");
	width : 6vw;
	height : 6vw;
	align-items : center;
	margin: 5px 5px 5px 0;
	filter: var(--black-icon);
}

.filter_close.closed {
	transform : rotate(180deg);
}

.filter_subblock_title {
	border-bottom : 0.5vw solid var(--filter-text);
	width : 84vw;
	margin : 0.6vw 0 1vw 0;
	padding-left : 3.2vw;
	font-size : 3.6vw;
}

.filter_subblock_content {
	background-color : var(--filter-back-alt);
	border-radius : 2.4vw;
	padding : 1.5vw;
}

#filter_entry_icon_container,
#filter_entry_icon_extra {
	display : flex;
	flex: 1;
	flex-wrap: wrap;
}

.filter_icon_bg {
	margin : 0 1.2vw;
	border-width :  0.5vw;
	border-radius : 4vw;
	width : 17vw;
	height : 17vw;
}

.filter_icon {
	padding : 0.5vw;
	border-radius : 4vw;
	width : 16vw;
	height : 16vw;
}

.filter_icon_bg_extra {
	margin : 0.5vw;
	border-radius : 3.6vw;
	width : 13.8vw;
	height : 13.8vw;
}

.filter_icon_extra {
	padding : 0.4vw;
	border-radius : 3.6vw;
	width : 13vw;
	height : 13vw;
}

.filter_icon:not(.selected),
.filter_icon_extra:not(.selected) {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.6;
}

.filter_singer_group,
.filter_entry_attr_item, 
.filter_genre_anisong_item,
.filter_genre_general_item,
.filter_sort_item,
.filter_sort2_item,
.filter_sort3_item,
.rep_item {
	display : flex;
	align-items: center;
	padding-left: 1.2vw;
	height: 6vw;
}

.filter_singer_group_extra {
	display : grid;
	width : 80%;
	grid-template-columns: 50% 50%;
}

.filter_singer_group_extra .filter_singer_group {
	display : grid;
	grid-template-columns: 20% 70%;
}

.genre_name,
.sort_name {
	padding-left: 0.8vw;
}

.rep_song_container {
	font-weight : bold;
	font-size : 3.2vw;
	margin : 1.5vw 3.2vw;
	padding : .8vw 1.2vw .2vw 1.2vw;
	border-radius : 0.8vw;
	border : 0.6vw solid var(--trnsp);
	outline : .2vw solid var(--song-border);
	color: var(--song-text);
}

.rep_song_container.selected {
	border : 0.6vw solid var(--song-selected);
}

.rep_song_container.rep_mem_only {
	background-color : var(--song-display-alt);
}

.rep_song_container:not(.rep_mem_only) {
	background-color : var(--song-display);
}

.rep_song_row1 {
	display: grid;
	grid-template-columns: 100% 20%;
}

.rep_song_title {
	height : 1.25em;
	line-height : 1.25em;
	overflow : hidden;
	overflow-inline : hidden;
}

.rep_song_nooke {
	position: absolute;
	right: 6vw;
	color: red;
}

.rep_song_info {
	margin-top : 0.8vw;
}

.rep_song_singer {
	display : grid;
	grid-template-columns : 33.3% 33.3% 33.3%;
}

.rep_singer_2rows {
	margin-top : -1.1vw;
}

.rep_song_singer div {
	margin : 0.2vw;
	border-radius : 1.6vw;
}

.rep_singer_2rows div {
	aspect-ratio: 1 / 1;
}

.rep_song_kirara {
	background-color : var(--s-krr-back);
	border : max(2px, 0.4vw) solid var(--s-krr-text);
}

.rep_song_momo {
	background-color : var(--s-momo-back);
	border : max(2px, 0.4vw) solid var(--s-momo-text);
}

.rep_song_nia {
	background-color : var(--s-nia-back);
	border : max(2px, 0.4vw) solid var(--s-nia-text);
}

.rep_song_chui {
	background-color : var(--s-chui-back);
	border : max(2px, 0.4vw) solid var(--s-chui-text);
}

.rep_song_shiro {
	background-color : var(--s-siro-back);
	border : max(2px, 0.4vw) solid var(--s-siro-text);
}

.rep_song_yuco {
	background-color : var(--s-yuco-back);
	border : max(2px, 0.4vw) solid var(--s-yuco-text);
}

.rep_extra_info {
	margin-left : 4vw;
}

#rep_list {
	position : absolute;
	left : 50%;
	top : 50%;
	transform: translate(-50%, -50%);
	width : 92vw;
	height : auto;
	background-color : var(--dialog-back);
	font-size : 4vw;
	border: 0.5vw solid var(--dialog-border);
	border-radius: 2vw;
	overflow-y : auto;
	text-align : center;
	color : var(--dialog-text);
}

.rep_list_title_container {
	display : grid;
	grid-template-columns: 30% 40% 30%;
}

.rep_list_delete_container {
	position : relative;
}

.rep_list_delete {
	position : absolute;
	content : url("icon/trash.png");
	width : 4.8vw;
	height : 4.8vw;
	left : 0;
	bottom : 0;
	margin-left : 2.4vw;
}

.rep_list_wc_container {
	position : relative;
}

.rep_list_wordcount {
	position : absolute;
	bottom : 0;
	right : 4vw;
	font-size : 4vw;
	font-weight : bold;
}

#rep_list_container.editing {
	display : grid;
	grid-template-columns: 8vw auto;
}

#rep_list_leftbar {
	padding : 2vw;
	height : 50vh;
	overflow : hidden;
}

.rep_list_item {
	padding : 1.2vw 0.4vw;
	width : 4.8vw;
	height : 4.8vw;
}

.rep_list_item {
	content : url("icon/target.png");
}

.rep_list_item.arrow_up {
	content : url("icon/arrow.png");
}

.rep_list_item.arrow_down {
	content : url("icon/arrow.png");
	transform : rotate(180deg);
}

#rep_list_content {
	overflow-y : auto;
	background-color : var(--dialog-back-alt);
	border-radius : 2vw;
	border : none;
	margin : 0vw 2vw;
	padding : 2vw;
	height : 50vh;
	white-space : nowrap;
}

#rep_list_content>div {
	height : 1em;
	line-height : 1em;
	overflow : hidden;
	text-align : left;
	padding : 1.6vw 0.4vw;
}

[theme=light] #rep_list_content>div {
	color: var(--dialog-back);
}

.rep_list_control {
	margin : 0 5%;
	grid-template-columns: 50% 50% !important;
}

.rep_list_control>div {
	margin : 2vw 0vw;
}

#list_artist_cb {
	margin : auto 1.2vw;
}

.rep_list_control .twitter {
	display : flex;
	justify-content : center;
	align-items : center;
	transform: translate(62.5%, 0);
}

.rep_list_control>.disabled {
	opacity: 0.4;
}

#rep_share_rap {
	display : grid;
	grid-template-columns: 80% 20%;
}

#rep_copy {
	right : 0;
	margin : 0.6vw;
	width : 6vw;
	height : 6vw;
	content : url("icon/copy.png");
	background-color : var(--dialog-text);
	border-radius : 0.8vw;
}

/* general stuff */
.grid_block-2,
.grid_block-3,
.grid_block-4,
.grid_block-3_type2 {
	display : grid;
}

.grid_block-2 {
	grid-template-columns: 45% 45%;
}

.grid_block-3 {
	grid-template-columns: 32% 32% 30%;
}

.grid_block-4 {
	grid-template-columns: 20% 35% 10% 35%;
}

.grid_block-3_type2 {
	grid-template-columns: 35% 35% 30%;
}

.rowspan-2 {
	grid-column : 1 / 2 span;
}

.rowspan-3 {
	grid-column : 1 / 3 span;
}

.colspan-2 {
	grid-row : 1 / span 2;
}

.col-1 {
	grid-column : 1;
}

.col-2 {
	grid-column : 2;
}

.col-3 {
	grid-column : 3;
}

.col-4 {
	grid-column : 4;
}

.col-5 {
	grid-column : 5;
}

.row-1 {
	grid-row : 1;
}

.row-2 {
	grid-row : 2;
}

.row-3 {
	grid-row : 3;
}

.row-4 {
	grid-row : 4;
}

.row-5 {
	grid-row : 5;
}

.checkbox,
.switch {
	width : 5vw;
	height : 5vw;
	margin : 0.6vw;

	display: flex;
	align-content: center;
}

.checkbox.selected {
	content : url("icon/cbx_check.png");
}

.checkbox:not(.selected) {
	content : url("icon/cbx_minus.png");
}

.search_grid_2 .checkbox:not(.selected),
.sort3_checkbox:not(.selected),
#list_artist_cb:not(.selected) {
	content : url("icon/cbx_cross.png");
}

.switch {
	content : url("icon/cbx_switch.png");
}

.radio {
	margin : 0.6vw;
	width : 3vw;
	height : 3vw;
	border-radius : 3vw;
	border : 0.8vw solid var(--radio-border);
	outline : 0.3vw solid var(--radio-outline);

	display: flex;
	align-items: center;
}

.radio.selected {
	background-color : var(--radio-back);
}

.radio:not(.selected) {
	background-color : var(--radio-border);
}